  <div class="header__title">
    <h1>
      Play
      <!-- Green highlight effect -->
      <span class="highlight">smart</span>
      win<br />
      <span class="highlight">big</span>
    </h1>
     <%= link_to "Create private game", new_private_game_path, class: "btn btn-primary" %>

    <%# <img
      src="img/hero.png"
      class="header__img"
      alt="Minimalist bank items"
    /> %>
  </div>
<br>
<% if user_signed_in? %>
  <%= link_to "Join a Public Game", game_setup_index_path, class: "btn btn-primary" %>

  <% if current_user.admin? %>
    <%= link_to "Create Public Game",  new_game_setup_path, class: "btn btn-danger" %>
  <% end %>
<% end %>
