  <div class="header__title">
    <h1>
      Play
      <!-- Green highlight effect -->
      <span class="highlight">smart</span>
      win<br />
      <span class="highlight">big</span>
    </h1>
     <%= link_to "Create private game", new_private_game_path, class: "btn btn-primary" %>

    <%# <img
      src="img/hero.png"
      class="header__img"
      alt="Minimalist bank items"
    /> %>
  </div>

<h1>Champion's Choice </h1>

<h4>Rules of the game</h4>

<p>
<ol>
<li>The cost is £10.00 per entry and any one player may enter up to three separate entries at the beginning of any one game. i.e 1 entry =£10.00, 2 entries =£20.00</li>
<li> Each entry is treated as a unique entity.</li>
<li> You must select a team from the relevant fixture list (‘game week’) to WIN their fixture. If your selection wins, you are through to the next round. If your selection draws or loses then you are unfortunately out of the competition.</li>
<li> If successful, you must repeat the procedure using the next set of fixtures. However, a team that has already been selected may not be selected again.</li>
<li>
 Selections must be made by the advertised deadline. If for any reason you have not selected by the deadline you will be allotted the LOWEST placed team in the league that is available to choose. This is known as the ‘default selection’.</li>
<li> Once you have made your pick(s), you may change it (them) at any time up until the advertised deadline.
If a game is postponed and you do not have time to, or do not wish to change your selection, then you will be alloted the HIGHEST placed team in the league that is available to choose .</li>
<li>
During the season there may be weeks when there are less than 10 Premier League fixtures, usually due to FA cup fixtures. If there are at least 7 then I will add the remaining fixtures from The Championship to bring the total to 10 matches. If there are less than 7 then that game week will be null. and void and we wait for the next week.</li>
<li>
 If you get through via the contingency fixture, then the original team that was selected will be deemed successful and not be available to pick again. For example, your original pick was Man City and that was postponed the contingency pick of Burnley wins, you would no longer be able to use Man City in that competition.</li>
<li> Any fixture that is played out of sequence, due to previous postponement or rescheduling will not be included and a replacement game will be added to that game week if necessary.</li>
<li>
If you reach the final 20 places (or fewer) * then you will share an equal split of 20% of the prize pot. The game continues and the ultimate winner receives the remaining 80%.</li>
<li>The winner of the game is the player that remains in the game for the longest time and is the Last Player Standing. A situation may arise whereby the last players standing all go out at the same time. In this instance the prize pot will be split equally between those players.</li>
<br>
*There will always be a minimum of reaching the final 20 places (or fewer). However, if the prize pot is:
Between £75000 to £85000 total prize pot- reaching the final 30 or fewer
Between £85001 to £100000 total prize pot- reaching the final 40 or fewer
Above £100001 total prize pot- reaching the final 50 or fewer
</ol>
</p>
