<% if user_signed_in? %>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
<% end %>




<header class="header">
  <nav class="nav">
    <%# <img
      src= "../../assets/images/logo.png"
      alt="Champion's Choice logo"
      class="nav__logo"
      id="logo"
    /> %>
    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="games">Join Game</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--2">Sports Insights</a>
      </li>
      <li class="nav__item">
        <%= link_to 'Game Rules', rules_path, class: 'nav__link' %>
      </li>
      <%if !user_signed_in? %>
        <li class="nav__item">
        <a
          class="nav__link nav__link--btn btn--show-modal"
          href="#section--4"
          >Sign up</a>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
